// Cores
$primary-color: #2d2d2d;     // fundo cinza escuro
$secondary-color: #3c3c3c;   // cards
$accent-color: #3b82f6;      // destaque azul
$text-color: #f9fafb;        // texto branco

// Espaçamento e borda
$padding: 1rem;
$border-radius: 10px;

// Fontes
$font-family: 'Segoe UI', sans-serif;
